.custom-event {
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
