<full-calendar [options]="calendarOptions()" #calendar [events]="sourceEvents()" class="h-full">
    <ng-template #eventContent let-arg>
        <div class="custom-event w-full h-full flex justify-center" [style.backgroundColor]="arg.event.extendedProps.slot?.type?.color ?? 'red'">
            <strong class="text-white w-full text-center h-[20px] border-b border-white rounded-t-md px-2">{{ arg.event.title }}</strong
            ><br />
            @if (arg.event.extendedProps.description) {
                <small>{{ arg.event.extendedProps.description }}</small>
            }
        </div>
    </ng-template>
</full-calendar>

@if (quickInfosVisible()) {
    <app-modal-quick-infos
        [(visible)]="quickInfosVisible"
        (close)="quickInfosVisible.set(false)"
        [event]="selectedEvent()"
        [showSubmitButton]="false"
        [showEditButton]="true"
        (onEdit)="editEvent()"
        (onClose)="quickInfosVisible.set(false)"
    ></app-modal-quick-infos>
}
@if (createEventVisible()) {
    <app-modal-create-edit-slot [(visible)]="createEventVisible" (close)="createEventVisible.set(false)" [event]="selectedEvent()" (onExit)="loadData()"></app-modal-create-edit-slot>
}
