<full-calendar [options]="calendarOptions()" #calendar class="h-full" [events]="sourceEvents()">
    <ng-template #eventContent let-arg>
        @let slot = arg.event.extendedProps?.slot;
        <div
            class="custom-event w-full h-full flex flex-col border border-2"
            [style.backgroundColor]="arg.event.extendedProps.slot?.type?.color ?? 'red'"
            [class.border-blue-500]="arg.event.extendedProps.passed ?? false"
            [class.border-green-500]="arg.event.extendedProps.upcoming ?? false"
        >
            <strong class="w-full text-center h-[20px] border-b border-white rounded-t-md px-2 !text-teal-800 py-1">{{ arg.event.title }}</strong
            ><br />
            @if (slot?.booking) {
                <!-- professeur -->
                @if (slot?.teacher) {
                    <div class="w-full h-[20px] px-2 flex flex-col !text-emerald-600">
                        <small>chez :{{ slot.teacher?.firstName }} {{ slot.teacher?.lastName }}</small>
                    </div>
                }
                <div class="w-full h-[20px] px-2 flex flex-col !text-emerald-600">
                    <small>{{ slot.booking?.title }}</small>
                    <p>{{ slot.booking?.description }}</p>
                </div>
            }
        </div>
    </ng-template>
</full-calendar>

@if (bookUnbookVisible()) {
    <app-modal-book-unbook [(visible)]="bookUnbookVisible" (close)="bookUnbookVisible.set(false)" [event]="selectedEvent()" (onExit)="loadData()"></app-modal-book-unbook>
}

@if (quickInfosVisible()) {
    <app-modal-quick-infos
        [showEditButton]="true"
        [(visible)]="quickInfosVisible"
        (close)="quickInfosVisible.set(false)"
        [event]="selectedEvent()"
        [showSubmitButton]="false"
        [showEditButton]="true"
        (onEdit)="editEvent()"
        (onClose)="quickInfosVisible.set(false)"
        (onEdit)="openEditModal()"
    >
    </app-modal-quick-infos>
}
