<div class="flex flex-col justify-between w-full md:flex-row">
    <div class="right flex gap-2">
        <p-button type="button" icon="pi pi-chevron-left" (onClick)="goPrev()"></p-button>
        <p-button type="button" icon="pi pi-calendar" (onClick)="goToday()"></p-button>

        <p-button type="button" icon="pi pi-chevron-right" (onClick)="goNext()"></p-button>
    </div>
    <div class="middle flex gap-2 items-center">
        <p class="m-0">{{ startDate() | date: 'dd MMM yyyy' }} - {{ endDate() | date: 'dd MMM yyyy' }}</p>
        @if (teacherInfo()) {
            <p class="m-0 font-semibold">({{ teacherInfo().firstName + ' ' + teacherInfo().lastName | titlecase }})</p>
        }
    </div>
    <div class="left flex gap-2">
        <p-button type="button" label="Jour" (onClick)="viewDay()"></p-button>
        <p-button type="button" label="Semaine" (onClick)="viewWeek()"></p-button>
        <p-button type="button" label="Mois" (onClick)="viewMonth()"></p-button>
    </div>
</div>
<full-calendar [options]="calendarOptions()" #calendar class="h-full !p-0" [events]="sourceEvents()">
    <ng-template #eventContent let-arg>
        @let slot = arg.event.extendedProps?.slot;
        <div
            class="custom-event w-full h-full flex flex-col border border-2 relative"
            [style.backgroundColor]="arg.event.extendedProps.slot?.type?.color"
            [class.border-blue-100]="arg.event.extendedProps.passed ?? false"
            [class.border-green-100]="arg.event.extendedProps.upcoming ?? false"
        >
            <strong class="w-full text-center h-[20px] border-b border-white rounded-t-md px-2 !text-teal-800 py-1">{{ arg.event.title }}</strong
            ><br />
            @if (slot?.booking) {
                <!-- professeur -->
                @if (slot?.teacher) {
                    <div class="w-full h-[20px] px-2 flex flex-col !text-emerald-600">
                        <small>chez :{{ slot.teacher?.firstName }} {{ slot.teacher?.lastName }}</small>
                    </div>
                }
                <div class="w-full h-[20px] px-2 flex flex-col !text-emerald-600">
                    <small>{{ slot.booking?.title }}</small>
                    <p>{{ slot.booking?.description }}</p>
                </div>
            }
            @if (slot?.booking?.status?.name == 'waiting') {
                <div class="w-full h-full absolute bottom-0 left-0 flex items-center justify-center" [style.background-color]="'rgba(0, 0, 0, 0.25)'">
                    <small [style.color]="slot.booking?.status?.color ?? 'white'">{{ slot.booking?.status?.displayName }}</small>
                </div>
            }
        </div>
    </ng-template>
</full-calendar>

@if (bookUnbookVisible()) {
    <app-modal-book-unbook [(visible)]="bookUnbookVisible" (close)="bookUnbookVisible.set(false)" [event]="selectedEvent()" (onExit)="loadData()"></app-modal-book-unbook>
}

@if (quickInfosVisible()) {
    <app-modal-quick-infos
        [showEditButton]="true"
        [(visible)]="quickInfosVisible"
        (close)="quickInfosVisible.set(false)"
        [event]="selectedEvent()"
        [showSubmitButton]="false"
        [showEditButton]="true"
        (onEdit)="editEvent()"
        (onClose)="quickInfosVisible.set(false)"
        (onEdit)="openEditModal()"
    >
        @let slot = selectedEvent().extendedProps?.['slot'];
        <div slot="info-booking">
            <div>
                <p>avec : {{ slot?.teacher?.firstName }} {{ slot?.teacher?.lastName }}</p>
            </div>
            @if (slot?.booking) {
                <p>Titre : {{ slot?.booking?.title }}</p>
                <p>Description : {{ slot?.booking?.description }}</p>
            }
        </div>
    </app-modal-quick-infos>
}
