<div class="flex gap-2 flex-col w-full h-[calc(100vh-110px)]">
    <div class="w-full lg:w-[300px] h-full border border-1 rounded-md p-4 bg-white dark:bg-transparent">
        <div class="flex flex-col items-center w-full gap-4">
            <div class="flex flex-col justify-center items-center gap-4 w-full">
                <p-image [src]="user()?.imgUrl ?? 'assets/user.png'" alt="Image" [preview]="true" class="w-[250px] h-auto rounded-full" />
                <div class="w-full">
                    <h4 class="text-xl font-bold !mb-0">{{ user()?.firstName }} {{ user()?.lastName }}</h4>
                    <p class="text-sm text-gray-500 !mb-0">{{ user()?.email }}</p>
                </div>
            </div>

            <div class="w-full">
                <label class="text-sm font-semibold text-gray-600 dark:text-gray-200">Langages</label>
                <app-chips-list [chips]="programmingLanguages()"></app-chips-list>
            </div>
            <div class="w-full">
                <label class="text-sm font-semibold text-gray-600 dark:text-gray-200">Description</label>
                @if (user()?.description) {
                    <p>{{ user()?.description }}</p>
                } @else {
                    <p>Pas de description fournie</p>
                }
            </div>
        </div>
    </div>
    <div class="w-full lg:flex-1"></div>
</div>
