<div class="flex flex-col lg:flex-row h-full gap-4 p-4">
    <div class="flex-1 space-y-4">
        <app-personnal-infos></app-personnal-infos>
        <app-cursuses-list> </app-cursuses-list>
        <app-formations-list></app-formations-list>
        <app-addresses-list></app-addresses-list>
    </div>

    <div class="right-side min-w-[300px] space-y-4">
        <app-public-report></app-public-report>
        <app-smart-section [title]="'Langues'">
            <ng-template #main>
                <app-chips-list [chips]="languages()"></app-chips-list>
            </ng-template>
        </app-smart-section>
    </div>
</div>
