<app-base-side-modal [(visible)]="visible" [title]="title()" [position]="'right'" (onHide)="cancel()">
    <div content class="flex flex-col gap-4 p-4">
        <div class="flex flex-col gap-2 p-4 bg-gray-50 dark:bg-gray-800 rounded-lg">
            <p class="m-0"><strong>De :</strong> {{ slot()?.dateFrom | date :'dd/MM/yyyy à HH:mm'}}</p>
            <p class="m-0"><strong>À :</strong> {{ slot()?.dateTo | date :'HH:mm'}}</p>
            <p class="m-0"><strong>Professeur :</strong> {{ slot()?.teacher?.firstName }} {{ slot()?.teacher?.lastName }} - {{ slot()?.type?.name }}</p>
        </div>
        @if (slot()?.booking?.student) {
        <div class="flex flex-col gap-2 p-4 bg-gray-50 dark:bg-gray-800 rounded-lg mt-2">
            <!-- student -->
            <p class="m-0"><strong>Étudiant :</strong> {{ slot()?.booking?.student?.firstName }} {{ slot()?.booking?.student?.lastName }}</p>
            <!-- title -->
            <p class="m-0"><strong>Titre :</strong> {{ slot()?.booking?.title }}</p>
            <!-- description -->
            <p class="m-0"><strong>Description :</strong> {{ slot()?.booking?.description }}</p>
        </div>
        } @if (!ispassed() &&(!isBooked() || (isBooked() && slot()?.booking?.student?.id === user()?.id))) {
        <app-configurable-form [structure]="form()" (onFormSubmit)="submit($event)" (onCancel)="cancel()" [verboseError]="false">
            @if(isBooked()) {
            <div slot="more-controls">
                <p-button [label]="'Désinscrire'" class="flex-shrink-0" severity="primary" (onClick)="unbook()" />
            </div>
            }
        </app-configurable-form>
        }
    </div>
</app-base-side-modal>
