.image-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
}

.left-side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    overflow: auto;
}
