<!-- Formations -->
<app-smart-section [title]="title" [editMode]="editMode()" [buttonIcon]="buttonIcon()" (onAddClick)="openModal()">
    <ng-template #main>
        @for (formation of formations(); track formation.id) {
            <app-formation [formation]="formation" [editMode]="editMode()"></app-formation>
        }
    </ng-template>

    <ng-template #empty>
        <div class="text-center">
            <i class="pi pi-graduation-cap text-gray-400 text-4xl mb-4"></i>
            <p class="text-gray-500">Pas de formations fournies</p>
            <button pButton label="Ajouter votre première formation" class="mt-3 p-button-outlined" (click)="openModal()"></button>
        </div>
    </ng-template>
</app-smart-section>

@if (showEditModal()) {
    <app-modal-formation [(showEditModal)]="showEditModal" (onClose)="cancel()"></app-modal-formation>
}
