<app-smart-element [title]="'Formation'" [editMode]="editMode()" [editButtonIcon]="'pi pi-pencil'" [deleteButtonIcon]="'pi pi-trash'" (onEditClick)="openEditModal()" (onDeleteClick)="deleteCursus()" [innerColor]="cursus().color">
    <ng-template #main>
        <div class="flex gap-2 p-2 pl-0">
            <span class="w-2"></span>
            <div class="flex flex-col gap-1">
                <p class="font-semibold !mb-0">{{ cursus().name }}</p>
                <p class="text-xs !mb-0 text-gray-600 dark:text-gray-400">{{ cursus().description }}</p>
            </div>
        </div>
    </ng-template>
</app-smart-element>

@if (showEditModal()) {
    <app-modal-cursus [(showEditModal)]="showEditModal" (onClose)="cancel()" [cursusInput]="cursus()"></app-modal-cursus>
}

@if (showDeleteConfirm()) {
    <app-confirm-modal
        [(visible)]="showDeleteConfirm"
        [title]="'Confirmer la suppression'"
        [question]="'Êtes-vous sûr de vouloir supprimer cette expérience ? Cette action est irréversible.'"
        [confirmText]="'Supprimer'"
        [cancelText]="'Annuler'"
        (onConfirm)="confirmDelete(true)"
        (onCancel)="confirmDelete(false)"
        (onClose)="showDeleteConfirm.set(false)"
    >
        <div slot="info" class="mt-4 text-sm text-gray-600">
            <p>Cette action supprimera définitivement l'expérience sélectionnée de votre profil.</p>
        </div>
    </app-confirm-modal>
}
