<!-- <header class="flex flex-row justify-between items-center gap-2">
    <h1 class="text-2xl font-bold">Liste des réservations</h1>
</header> -->
<app-smart-grid
    [(data)]="bookings"
    [columns]="columns()"
    [(customComponents)]="customComponents"
    [(tableState)]="filterParams"
    [(totalRecords)]="totalRecords"
    [(loading)]="loading"
    [height]="'785px'"
    title="Liste des réservations"
    [storageName]="'reservations-list-state-by-student'"
    (onRowClick)="onRowClick($event)"
>
</app-smart-grid>

<app-modal-reservation-detail [(visibleRight)]="modalDetailVisible" [reservation]="selectedReservation()" (onClose)="close()"></app-modal-reservation-detail>
