<p-drawer header="Editer les informations personnelles" position="right" [visible]="showEditModal()" [style]="{ width: '50vw' }" [modal]="true" [closable]="true" (closeOnEscape)="(true)" (onHide)="cancel()">
    <div class="p-fluid formgrid grid">
        <app-configurable-form [structure]="cursusForm()" (onFormSubmit)="submit($event)" (onCancel)="cancel()"></app-configurable-form>
    </div>
    <p-footer>
        <button pButton type="button" label="Annuler" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
        <button pButton type="button" label="Enregistrer" icon="pi pi-check" (click)="cancel()"></button>
    </p-footer>
</p-drawer>
