<header class="flex flex-row justify-between items-center gap-2">
    <h1 class="text-2xl font-bold">Liste des utilisateurs</h1>
</header>
<app-smart-grid-modernized
    [(data)]="users"
    [columns]="columns()"
    [(customComponents)]="customComponents"
    [(tableState)]="filterParams"
    [(totalRecords)]="totalRecords"
    [(loading)]="loading"
    [height]="'815px'"
    [storageName]="'teachers-list-state'"
    [itemRendererComponent]="cardUserComponent"
    [itemRendererComponentParams]="{ resetFilter: resetFilter.bind(this) }"
    (onRowClick)="onRowClick($event)"
    [lineItemComponent]="cardUserComponent"
>
</app-smart-grid-modernized>
