<header class="flex flex-row justify-between items-center gap-2">
    <h1 class="text-2xl font-bold">Liste des utilisateurs</h1>
</header>
<div class="gap-2 flex flex-col" style="height: 900px">
    <app-smart-grid-modernized
        [(data)]="users"
        [columns]="columns()"
        [(customComponents)]="customComponents"
        [(tableState)]="filterParams"
        [(totalRecords)]="totalRecords"
        [(loading)]="loading"
        [height]="'815px'"
        [storageName]="'teachers-list-state'"
        [itemRendererComponent]="cardUserComponent"
        (onRowClick)="onRowClick($event)"
        [lineItemComponent]="cardUserComponent"
    >
    </app-smart-grid-modernized>
</div>
