<app-smart-grid
    [(data)]="bookings"
    [columns]="columns()"
    [(customComponents)]="customComponents"
    [(tableState)]="filterParams"
    [(totalRecords)]="totalRecords"
    [(loading)]="loading"
    title="Liste des réservations"
    [height]="'790px'"
    [storageName]="'reservations-list-state-by-teacher'"
    (onRowClick)="onRowClick($event)"
>
</app-smart-grid>

<app-modal-reservation-detail [(visibleRight)]="modalDetailVisible" [reservation]="selectedReservation()" (onClose)="close()"></app-modal-reservation-detail>
