<div class="flex gap-2">
    <a pButton [text]="true" severity="secondary" [rounded]="true" class="lg:!hidden" (click)="toggleMobileMenu()">
        <i class="pi pi-bars !text-2xl"></i>
    </a>
    <a class="flex items-center mr-4" routerLink="/">
        <img [src]="layoutService.layoutConfig().darkTheme ? 'assets/latestWhite.svg' : 'assets/latestBlack.svg'" alt="logo" width="150" />
    </a>
</div>

<ul class="list-none p-0 m-0 flex lg:items-center select-none flex-row cursor-pointer gap-8 hidden lg:flex">
    <li>
        <a routerLink="/" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl menu-link" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: false }">
            <i [ngClass]="'pi pi-home'" class="layout-menuitem-icon"></i>
            <span class="layout-menuitem-text">Accueil</span>
        </a>
    </li>

    @if (authService.userConnected().email) {
    <li>
        <a routerLink="/dashboard" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl menu-link" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: false }">
            <i [ngClass]="'pi pi-sitemap'" class="layout-menuitem-icon"></i>
            <span>Dashboard</span>
        </a>
    </li>
    }
    <li>
        <a routerLink="/teacher" fragment="profile" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl menu-link" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: false }    ">
            <i [ngClass]="'pi pi-question'" class="layout-menuitem-icon"></i>
            <span>Qui sommes nous</span>
        </a>
    </li>
</ul>

<p-drawer [(visible)]="mobileMenuVisible" position="left" [baseZIndex]="1000" class="lg:hidden">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a routerLink="/" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl menu-link" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: false }">
                <i [ngClass]="'pi pi-home'" class="layout-menuitem-icon"></i>
                <span class="layout-menuitem-text">Accueil</span>
            </a>
        </li>

        @if (authService.userConnected().email) {
        <li>
            <a routerLink="/dashboard" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl menu-link" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: false }">
                <i [ngClass]="'pi pi-sitemap'" class="layout-menuitem-icon"></i>
                <span>Dashboard</span>
            </a>
        </li>
        }
        <li>
            <a routerLink="/teacher" fragment="profile" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl menu-link" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: false }    ">
                <i [ngClass]="'pi pi-question'" class="layout-menuitem-icon"></i>
                <span>Qui sommes nous</span>
            </a>
        </li>
    </ul>
</p-drawer>
